/downloads
/*/downloads
downloadImage.py
node_modules
.env
service_account.json
firebase_config.json
firebase.js
.expo
.firebase
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store
